{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extra_styles %}{% endblock extra_styles %}

    <link rel="stylesheet" href="{% static 'index/mu_css/mu_css.css' %}">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">

    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>

{% block head %}
    {% block menu %}{% include 'navbar.html' %}{% endblock %}
{% endblock %}


{% block page %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}



{% block extra_scripts %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock extra_scripts %}

</body>
</html>